
/* general gradio fixes */

:root, .dark{
    --checkbox-label-gap: 0.25em 0.1em;
    --section-header-text-size: 12pt;
    --block-background-fill: transparent;
}


div.gradio-container{
    max-width: unset !important;
}

@media screen and (min-width: 2500px) {
    .image_generation_gallery {
        min-height: 768px;
    }
}

.image_generation_gallery img{
    object-fit: scale-down !important;
}

.tool-button{
    max-width: 2.2em;
    min-width: 2.2em !important;
    height: 2.4em;
    align-self: center;
    border-radius: 0.5em;
}

/* autocomplete */

ul.autocomplete {
    position: absolute;
    z-index: 9999;
    background-color: #ffffff;
    width: 150px;
    border: 1px solid grey;
    padding: 10px !important;
    border-radius: 10px;
    padding-left: 0;

    overflow-y: auto;
    height: 135px;
}

ul.autocomplete::-webkit-scrollbar {
    width: 0.5em;
}

ul.none {
    display: none;
}

ul.autocomplete>li {
    list-style: none;
    padding: 2px 5px;
}

.dark ul.autocomplete {
    /* todo */
    background-color: #000000;
}
